<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="paper.ProjectgradeMapper" >
  <resultMap id="BaseResultMap" type="com.project.entity.Projectgrade" >
    <id column="projectid" property="projectid" jdbcType="INTEGER" />
    <result column="paperurl" property="paperurl" jdbcType="VARCHAR" />
    <result column="papername" property="papername" jdbcType="VARCHAR" />
    <result column="codeurl" property="codeurl" jdbcType="VARCHAR" />
    <result column="codename" property="codename" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="studentno" property="studentno" jdbcType="VARCHAR" />
    <result column="paperid" property="paperid" jdbcType="INTEGER" />
    <result column="grade" property="grade" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="checktime" property="checktime" jdbcType="TIMESTAMP" />
    <result column="teacherno" property="teacherno" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    projectid, paperurl, papername, codeurl, codename, status, studentno, paperid, grade, 
    createtime, checktime, teacherno
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from projectgrade
    where projectid = #{projectid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from projectgrade
    where projectid = #{projectid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.project.entity.Projectgrade" >
    insert into projectgrade (projectid, paperurl, papername, 
      codeurl, codename, status, 
      studentno, paperid, grade, 
      createtime, checktime, teacherno
      )
    values (#{projectid,jdbcType=INTEGER}, #{paperurl,jdbcType=VARCHAR}, #{papername,jdbcType=VARCHAR}, 
      #{codeurl,jdbcType=VARCHAR}, #{codename,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{studentno,jdbcType=VARCHAR}, #{paperid,jdbcType=INTEGER}, #{grade,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{checktime,jdbcType=TIMESTAMP}, #{teacherno,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.project.entity.Projectgrade" >
    insert into projectgrade
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="projectid != null" >
        projectid,
      </if>
      <if test="paperurl != null" >
        paperurl,
      </if>
      <if test="papername != null" >
        papername,
      </if>
      <if test="codeurl != null" >
        codeurl,
      </if>
      <if test="codename != null" >
        codename,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="studentno != null" >
        studentno,
      </if>
      <if test="paperid != null" >
        paperid,
      </if>
      <if test="grade != null" >
        grade,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="checktime != null" >
        checktime,
      </if>
      <if test="teacherno != null" >
        teacherno,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="projectid != null" >
        #{projectid,jdbcType=INTEGER},
      </if>
      <if test="paperurl != null" >
        #{paperurl,jdbcType=VARCHAR},
      </if>
      <if test="papername != null" >
        #{papername,jdbcType=VARCHAR},
      </if>
      <if test="codeurl != null" >
        #{codeurl,jdbcType=VARCHAR},
      </if>
      <if test="codename != null" >
        #{codename,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="studentno != null" >
        #{studentno,jdbcType=VARCHAR},
      </if>
      <if test="paperid != null" >
        #{paperid,jdbcType=INTEGER},
      </if>
      <if test="grade != null" >
        #{grade,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="checktime != null" >
        #{checktime,jdbcType=TIMESTAMP},
      </if>
      <if test="teacherno != null" >
        #{teacherno,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.project.entity.Projectgrade" >
    update projectgrade
    <set >
      <if test="paperurl != null" >
        paperurl = #{paperurl,jdbcType=VARCHAR},
      </if>
      <if test="papername != null" >
        papername = #{papername,jdbcType=VARCHAR},
      </if>
      <if test="codeurl != null" >
        codeurl = #{codeurl,jdbcType=VARCHAR},
      </if>
      <if test="codename != null" >
        codename = #{codename,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="studentno != null" >
        studentno = #{studentno,jdbcType=VARCHAR},
      </if>
      <if test="paperid != null" >
        paperid = #{paperid,jdbcType=INTEGER},
      </if>
      <if test="grade != null" >
        grade = #{grade,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="checktime != null" >
        checktime = #{checktime,jdbcType=TIMESTAMP},
      </if>
      <if test="teacherno != null" >
        teacherno = #{teacherno,jdbcType=VARCHAR},
      </if>
    </set>
    where projectid = #{projectid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.project.entity.Projectgrade" >
    update projectgrade
    set paperurl = #{paperurl,jdbcType=VARCHAR},
      papername = #{papername,jdbcType=VARCHAR},
      codeurl = #{codeurl,jdbcType=VARCHAR},
      codename = #{codename,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      studentno = #{studentno,jdbcType=VARCHAR},
      paperid = #{paperid,jdbcType=INTEGER},
      grade = #{grade,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      checktime = #{checktime,jdbcType=TIMESTAMP},
      teacherno = #{teacherno,jdbcType=VARCHAR}
    where projectid = #{projectid,jdbcType=INTEGER}
  </update>
</mapper>