<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="paper.OpenreportMapper" >
  <resultMap id="BaseResultMap" type="com.project.entity.Openreport" >
    <id column="openid" property="openid" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="teachersuggest" property="teachersuggest" jdbcType="VARCHAR" />
    <result column="departmentsuggest" property="departmentsuggest" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="teacherno" property="teacherno" jdbcType="VARCHAR" />
    <result column="studentno" property="studentno" jdbcType="VARCHAR" />
    <result column="paperid" property="paperid" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="checktime" property="checktime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    openid, content, teachersuggest, departmentsuggest, status, teacherno, studentno, 
    paperid, createtime, checktime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from openreport
    where openid = #{openid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from openreport
    where openid = #{openid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.project.entity.Openreport" >
    insert into openreport (openid, content, teachersuggest, 
      departmentsuggest, status, teacherno, 
      studentno, paperid, createtime, 
      checktime)
    values (#{openid,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, #{teachersuggest,jdbcType=VARCHAR}, 
      #{departmentsuggest,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{teacherno,jdbcType=VARCHAR}, 
      #{studentno,jdbcType=VARCHAR}, #{paperid,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, 
      #{checktime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.project.entity.Openreport" >
    insert into openreport
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="openid != null" >
        openid,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="teachersuggest != null" >
        teachersuggest,
      </if>
      <if test="departmentsuggest != null" >
        departmentsuggest,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="teacherno != null" >
        teacherno,
      </if>
      <if test="studentno != null" >
        studentno,
      </if>
      <if test="paperid != null" >
        paperid,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="checktime != null" >
        checktime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="openid != null" >
        #{openid,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="teachersuggest != null" >
        #{teachersuggest,jdbcType=VARCHAR},
      </if>
      <if test="departmentsuggest != null" >
        #{departmentsuggest,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="teacherno != null" >
        #{teacherno,jdbcType=VARCHAR},
      </if>
      <if test="studentno != null" >
        #{studentno,jdbcType=VARCHAR},
      </if>
      <if test="paperid != null" >
        #{paperid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="checktime != null" >
        #{checktime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.project.entity.Openreport" >
    update openreport
    <set >
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="teachersuggest != null" >
        teachersuggest = #{teachersuggest,jdbcType=VARCHAR},
      </if>
      <if test="departmentsuggest != null" >
        departmentsuggest = #{departmentsuggest,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="teacherno != null" >
        teacherno = #{teacherno,jdbcType=VARCHAR},
      </if>
      <if test="studentno != null" >
        studentno = #{studentno,jdbcType=VARCHAR},
      </if>
      <if test="paperid != null" >
        paperid = #{paperid,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="checktime != null" >
        checktime = #{checktime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where openid = #{openid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.project.entity.Openreport" >
    update openreport
    set content = #{content,jdbcType=VARCHAR},
      teachersuggest = #{teachersuggest,jdbcType=VARCHAR},
      departmentsuggest = #{departmentsuggest,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      teacherno = #{teacherno,jdbcType=VARCHAR},
      studentno = #{studentno,jdbcType=VARCHAR},
      paperid = #{paperid,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      checktime = #{checktime,jdbcType=TIMESTAMP}
    where openid = #{openid,jdbcType=INTEGER}
  </update>
</mapper>